.env
.env.run
.npmrc.host
!workspace/
workspace/*
!workspace/.gitkeep
!workspace/.vscode/sftp.template.json
!workspace/.vscode/launch.json
!workspace/.vscode/mcp.json
!workspace/.cursor/
logs/*
!logs/.gitkeep
*.log
